<!DOCTYPE html>

{% load bootstrap3 %}
{% load staticfiles %}

<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Ek+Mukta:400' rel='stylesheet' type='text/css'>
		<script src="{{ STATIC_URL }}less.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<!-- Begin MailChimp Signup Form -->
		<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
		<style type="text/css">
			#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
			/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
			   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
		</style>

		{% bootstrap_css %}
		{% bootstrap_javascript %}

		<link rel='stylesheet' href="/static/custom.css" />
		<link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}favicon.ico">
		<meta name="viewport" content="width=device-width, inital-scale=1">
		<meta property="og:title" content="Posted on Wavelength" />
		<meta property="og:description" content="Wavelength helps electronic music artists find new fans." />
		<!--<meta property="og:type" content="link" />-->
		<meta property="og:url" content="http://www.trywavelength.com/{{ request.path }}" />
		<meta property="og:image" content="http://www.trywavelength.com/static/lambda.png" />

		{% block head %}

		{% endblock %}
	</head>
	<body>
		<!-- Google Tag Manager -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9R627"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-P9R627');</script>
		<!-- End Google Tag Manager -->
		<div id="fb-root"></div>
		<script>
		(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=357482904425644&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>

		<header>
			<nav class="navbar navbar-default" role="navigation">
				<div class='container-fluid'>
					<div class='col-md-12'>
						<div class='navbar-left'>
						<ul class='nav navbar-nav'>
							<li><h2><a id='site-name' href="{% url 'index' %}" style="text-decoration:none">Wavelength<sub style="font-size:12px;">BETA</sub></a></h2></li>
						</ul>
						</div>
						<div class='navbar-header navbar-right'>
						{% if user.is_authenticated %}
							<ul class='nav navbar-nav'>
								<li class='dropdown'>
									<a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false'><img src="{{ user.profile.profile_image_url }}" id="navbar-avatar" /><span class='caret'></span></a>
									<ul class='dropdown-menu' role='menu'>
										<li><a href='/users/{{ user.username }}'>{{ user.username }}</a></li>
										<li style='border-top:1px solid #ddd'><a href='/logout'>Log Out</a></li>
									</ul>
								</li>
								<li class="compose-button">
								<form action="/compose">
									<div>
										<button id='compose-button' type="submit" class="btn btn-default"><span id='compose-pencil' class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Share Track</button>
									</div>
								</form>
								</li>
							</ul>

						{% else %}
							<ul class='nav navbar-nav'>
								<li class="nav-login-button">
									<form action="{% url 'social:begin' 'facebook'%}?next={{request.path}}">
										<div>
											<button id='nav-login-button' type="submit" class="btn btn-default"><span id='compose-pencil' class="glyphicon glyphicon-headphones" aria-hidden="true"></span>Sign In</button>
										</div>
									</form>
								</li>
							</ul>

						{% endif %}
						</div>
						<div class='collapse navbar-collapse navbar-right' id='bs-example-navbar-collapse-1'>
							<ul class='nav navbar-nav'>
							{% block login %}
							{% endblock %}
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</header>

		<div class='container-fluid'>
			<div class='row'>
				{% block flash %}
				{% if auth_form.non_field_errors or user_form.non_field_errors %}
					{{ auth_form.non_field_errors }}
					{{ user_form.non_field_errors }}
				{% endif %}
				{% endblock %}
			</div>

			<div class='row'>
				<div class='col-md-3'>	
					<div class='col-xs-12' id='sidebar'>

						{% if user.is_authenticated %}
		
						{% block sidebar %}
						<div class='row' id='pill-row'>
						<ul class='nav nav-pills nav-stacked'>
							<li><a href="/">Home</a></li>
							<li><a href='/users/{{ user.username }}'>My Profile and Tracks</a></li>
						</ul>
						</div>
						{% endblock %}

						{% else %}

						<div class='row'>
							<div class='col-xs-12' id='welcome-text'>
								<p style='text-align: center;'> Welcome to Wavelength!  <a href="{% url 'social:begin' 'facebook'%}?next={{request.path}}" style='text-color: #337ab7; font-weight: bold;'>Sign in</a> to post tracks and start giving feedback to artists!</p>
							</div>
						</div> 

						{% endif %}
						<div class='row text-center' id='sidebar-stats'>
							<ul class='nav nav-pills nav-stacked'>
							<li><a href={% url 'mailing_subscribe' %}>Subscribe</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class='col-md-9'>
					<div class='col-xs-12' id='main-content'>
							<div class='navbar-header' style='border-bottom:1px solid #ddd;'>
								<button id='category-button' type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#category-headers-collapse' style='text-align: center;'>
								        <span class='caret' style='font-size:50px;'></span>
								</button>
							</div>

							<div class='collapse navbar-collapse' id='category-headers-collapse'>
								<ul class='nav nav-tabs nav-justified' id='genre-nav'>
								<!--	<li><a href='/'>Featured</a></li> !-->
									{% if user.is_authenticated %}

									<li><a href={% url 'messages_feed' %}>Recommended</a></li>

									{% endif %}
									<li><a href={% url 'messages_all' %}>All</a></li>
									<li><a href={% url 'messages_trap' %}>Trap</a></li>
									<li><a href={% url 'messages_house' %}>House</a></li>
									<li><a href={% url 'messages_trance' %}>Trance</a></li>
									<li><a href={% url 'messages_bass' %}>Bass</a></li>
									<li><a href={% url 'messages_harddance' %}>Hard Dance</a></li>
									<li><a href={% url 'messages_fuckgenres' %}>Fuck Genres</a></li>
								</ul>
							</div>
					{% block content %}

					{% endblock %}
						</div>

					</div>
				</div>
			</div>
		</div>
	
		{% block homepage %}
		{% endblock %}

		<footer>
			<nav id='footer-nav' class='navbar navbar-default navbar-fixed-bottom'>
				<div class='container'>
					<div class='navbar-right'>
						<ul class='nav navbar-nav'>
							<li><a href='mailto:feedback@trywavelength.com'>Feedback?</a></li>
						</ul>
					</div>
				</div>
		</footer>

	</body>
</html>