{% extends "base.html" %}
{% load bootstrap3 %}
{% load comments %}

{% block content %}

{% if user.is_staff %}
<div class='row'>
	<div class='col-xs-12'>
		<a href='/featurededit/{{ entry.id }}'>Edit</a>
	</div>
</div>
{% endif %}

<div class='row'>
	<div class='col-xs-12'>
		<h2>Today's featured artist...</h2>
	</div>
</div>

<div class='row'>
	<div class='col-xs-12'>
		<img src="{{ entry.artist_image.url }}" width="200" height="200" />
		<h1 style='display: inline;'>{{ entry.artist_name }}</h1>
	</div>
</div>

<div class='row'>
	<div class='col-xs-12'>
		<p>{{ entry.post_time }}</p>
	</div>
</div>


<div class='row'>
	<div class='col-xs-12'>
		<p>{{ entry.entry_text }}</p>
	</div>
</div>

<div class='row'>
	<div class='col-xs-12'>
		<p>{{ entry.song_link1 }}</p>
	</div>
</div>

<div class='row'>
	<div class='col-xs-12'>
		<p>{{ entry.song_link2 }}</p>
	</div>
</div>

<div class='row'>
	<div class='col-xs-12'>
		<p>{{ entry.song_link3 }}</p>
	</div>
</div>


{% if entry.get_prev %}
<a href='/featured/{{ entry.get_prev }}'>Previous</a>
{% endif %}

{% if entry.get_next %}
<a href='/featured/{{ entry.get_next }}'>Next</a>
{% endif %}

{% endblock %}