{% extends 'base.html' %}
{% block content %}

<ol class="feed-list">
{% for message, like_status in feed_message_list %}
	<li class="feed-message">
		<div id='feed-profile'>
			<span><a href="/users/{{ message.creator }}"><img src="{{ message.creator.profile.profile_image_url }}" width="30" height="30" /></a></span> 
			<span id='feed-username'><a href="/users/{{ message.creator }}">{{ message.creator }}</a></span>
		</div>
		<div id='feed-body'>
			{{ message.body|urlize }}
		</div>
		<div id='feed-timestamp'>
			<time>{{ message.creation_time|date:_("DATETIME_FORMAT") }}</time> 
		</div>

		{% if like_status %}
		<p>Liked!</p>
		{% else %}
		<p>Not liked!</p>
		{% endif %}

		{% if like_form %}

		{% if like_status %}

		<form action="{% url 'message_like' message.id %}" method="post">{% csrf_token %}
		<button type="submit" class="btn">Unlike</button>
		</form>

		{% else %}

		<form action="{% url 'message_like' message.id %}" method="post">{% csrf_token %}
		<button type="submit" class="btn btn-default">Like</button>
		</form>

		{% endif %}

		{% endif %}

	</li>
{% endfor %}
</ol>

{% endblock %}