{% extends 'base.html' %}
{% block content %}

<ol class="feed-list">
{% for message, like_status in feed_message_list %}
	<li class="feed-message">
		<div id='feed-profile'>
			<span><a href="/users/{{ message.creator }}"><img src="{{ message.creator.profile.profile_image_url }}" width="30" height="30" /></a></span> 
			<span id='feed-username'><a href="/users/{{ message.creator }}">{{ message.creator }}</a></span>
		</div>
		 <div>
	    	<a href="/message/{{ message.id }}">View</a>
	    </div>

		<div id='feed-body'>
			{{ message.body|urlize }}
		</div>
		<div id='feed-timestamp'>
			<time>{{ message.creation_time|date:_("DATETIME_FORMAT") }}</time> 
		</div>

		{% if like_status %}

		<p>Liked!</p>
		
		{% else %}
		
		<p>Not liked!</p>
		
		{% endif %}

		{% if like_form %}

		{% if like_status %}

		<form action="{% url 'message_like' message.id %}" method="post">{% csrf_token %}
		<button type="submit" class="btn">Unlike</button>
		</form>

		{% else %}

		<form action="{% url 'message_like' message.id %}" method="post">{% csrf_token %}
		<button type="submit" class="btn btn-default">Like</button>
		</form>

		{% endif %}

		{% endif %}
		<button class="btn btn-info" onclick="facebookShare()">Facebook Share</button>

		<a class="twitter-share-button" href="https://twitter.com/share" data-text="Check out this hot new track {{ message.creator }} posted on Sharebear!" data-count="none" data-url="http://localhost:8000/message/{{ message.id }}">Tweet</a>

		<script>
			function facebookShare(){
				FB.ui({
				  method: 'share',
			  		href: 'http://soundcloud.com/deezium',
					}, function(response){
				    if (response && !response.error_code) {
				      alert('Posting completed.');
				    } else {
				      alert('Error while posting.');
				    }
				});
			}

			window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));


				
		</script>

	</li>
{% endfor %}
</ol>

{% endblock %}