{% extends 'base.html' %}
{% block content %}

<ol class="feed-list">
{% for story in feed_story_list %}
	<li class="feed-message">
		<div id='feed-profile'>
			<span><a href="/users/{{ story.msg.creator }}"><img src="{{ story.msg.creator.profile.profile_image_url }}" width="30" height="30" /></a></span> 
			<span id='feed-username'><a href="/users/{{ story.msg.creator }}">{{ story.msg.creator }}</a></span>
		</div>
		<div id='feed-body'>
			{{ story.msg.body|urlize }}
		</div>
		<div id='feed-timestamp'>
			<time>{{ story.msg.creation_time|date:_("DATETIME_FORMAT") }}</time> 
		</div>

		{% if story.is_liked %}
		<p>Liked!</p>
		{% else %}
		<p>Not liked!</p>
		{% endif %}

		{% if like_form %}

		{% if story.is_liked %}

		<form action="{% url 'story_like' story.id %}" method="post">{% csrf_token %}
		<button type="submit" class="btn">Unlike</button>
		</form>

		{% else %}

		<form action="{% url 'story_like' story.id %}" method="post">{% csrf_token %}
		<button type="submit" class="btn btn-default">Like</button>
		</form>

		{% endif %}

		{% endif %}

	</li>
{% endfor %}
</ol>

{% endblock %}