{% extends 'base.html' %}

{% block login %}

{% endblock %}

{% block flash %}

{% if auth_form.non_field_errors or user_form.non_field_errors %}
	{{ auth_form.non_field_errors }}
	{{ user_form.non_field_errors }}
{% endif %}

{% endblock %}

{% block homepage %}

	<div class='jumbotron'>
		<div id='intro'>
			<h1> Kuvalenz helps musicians connect with new audiences. </h1>
		</div>
		<a href="{% url 'social:begin' 'facebook'%}?next={{request.path}}"><img src='{{ MEDIA_URL }}/facebooklogin.png'/></a>
	
	</div>

{% endblock %}