{% extends "base.html" %}
{% load bootstrap3 %}

{% block head %}

<meta property="og:title" content="Suck my what"/>
<meta property="og:url" content="{{ request.path }}"/>
<meta property="og:description" content="Sharebear is the premier platform for artists to build audiences."/>

{% endblock %}

{% block content %}

    <script>
    function deleteConfirmation() {
        confirm("Are you sure you want to delete this message?");
    }
    </script>

    <div class='row' style="padding-top: 10px">
        <div class='col-md-8'>
            <div id='feed-profile'>
                <span><a href="/users/{{ message.creator }}"><img src="{{ message.creator.profile.profile_image_url }}" width="30" height="30" /></a></span> 
                <span id='feed-username'><a href="/users/{{ message.creator }}">{{ message.creator }}</a></span>
            </div>
        </div>
        <div class='col-md-4'>
            <div id='feed-timestamp'>
                <time>{{ message.creation_time|date:_("DATETIME_FORMAT") }}</time> 
            </div>
        </div>
    </div>
    <div class='row message-body'>
        <div class='col-md-12'>
            <p>{{ message.body|urlize }}</p>
        </div>
    </div>

    {% if youtube_id %}
    <div class='row'>
        <div class='col-md-12'>
        <iframe id="ytplayer" class="center-block" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/{{ youtube_id }}" frameborder="0"/></iframe>
        </div>
    </div>
    {% endif %}

    <div class='row engagement-buttons'>
            <div class='col-md-3 col-md-offset-9'>

            {% if like_form %}
                <div class="col-md-4">
                    {% if like_status %}

                    <form action="{% url 'message_like' message.id %}" method="post">{% csrf_token %}
                    <button type="submit" class="btn like-button"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
                    </form>

                    {% else %}

                    <form action="{% url 'message_like' message.id %}" method="post">{% csrf_token %}
                    <button type="submit" class="btn btn-default like-button"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
                    </form>

                    {% endif %}
                </div>

            {% endif %}

                <div class="col-md-4">
                    <button class="btn facebook-button" onclick="facebookShare()"></button>
                </div>

                <div class="col-md-4">
                    <a class="btn twitter-button" href="https://twitter.com/intent/tweet?text=Check out this hot new track {{ message.creator }} posted on Sharebear! http://localhost:8000/message/{{ message.id }}"></a>
                </div>

            </div>

        <script>
            function facebookShare(){
                FB.ui({
                  method: 'share',
                    href: 'http://soundcloud.com/deezium',
                    }, function(response){
                    if (response && !response.error_code) {
                      alert('Posting completed.');
                    } else {
                      alert('Error while posting.');
                    }
                });
            }

            window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
                
        </script>
    </div>


    {% if user == message.creator %}

    <div class='row' id='message-stats'>
        <div class='col-md-6' style='border-right: 1px solid #ddd;'>
            <div class='stats-header'>
                <span id='message-glyphicon-user' class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <span class='stats-header-text'>People Reached</span>
            </div>
            <div class='stats-number'>
            {{ view_count }}
            </div>
            {% for r in recipients %}
            <div class='message-user-list'>
                <a href="/users/{{ r.user }}">
                <img class='center-block' src="{{ r.user.profile.profile_image_url }}" width="40" height="40" />
                </a>
            </div>

            {% endfor %}
        </div>
        <div class='col-md-6'>
            <div class='stats-header'>
                <span id='message-glyphicon-heart' class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                <span class='stats-header-text'>Props</span>
            </div>
            <div class='stats-number'>
            {{ prop_count }}
            </div>
            {% for p in proppers %}
            <div class='message-user-list'>
                <a href="/users/{{ p.user }}">
                <img class='center-block' src="{{ p.user.profile.profile_image_url }}" width="40" height="40" />
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class='row' id='delete-button-row'>
        <div class='col-md-12'>
            <form action="{% url 'messages_delete' message.id %}" method="post">{% csrf_token %}
                <button type="submit" onclick="deleteConfirmation()" class="btn btn-disabled">Delete</button>
            </form>
        </div>
    </div>


    {% endif %}


{% endblock %}