{% extends "base.html" %}
{% load bootstrap3 %}

{% block head %}

<meta property="og:title" content="Suck my what"/>
<meta property="og:url" content="{{ request.path }}"/>
<meta property="og:description" content="Sharebear is the premier platform for artists to build audiences."/>

{% endblock %}

{% block content %}

    <script>
    function deleteConfirmation() {
        confirm("Are you sure you want to delete this message?");
    }
    </script>

    <div class="row sender-info">
        <div class="col-md-8">
            <a href="/users/{{ message.creator }}"><img src="{{ message.creator.profile.profile_image_url }}" width="50" height="50" /></a>
            <a href="/users/{{ message.creator }}">{{ message.creator }}</a>
        </div>
        <div class="col-md-4">
            <p><em>Posted at {{ message.creation_time|date:_("DATETIME_FORMAT")}}</em></p>
        </div>
    </div>
    <div class='row message-body'>
        <div class='col-md-12'>
            <p>{{ message.body|urlize }}</p>
        </div>
    </div>

    {% if youtube_id %}
    <div class='row'>
        <div class='col-md-12'>
        <iframe id="ytplayer" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/{{ youtube_id }}" frameborder="0"/>
        </div>
    </div>
    {% endif %}

    {% if like_status %}
    <p>Liked!</p>
    {% else %}
    <p>Not liked!</p>
    {% endif %}

    {% if like_form %}

    {% if like_status %}

    <form action="{% url 'message_like' message.id %}" method="post">{% csrf_token %}
    <button type="submit" class="btn">Unlike</button>
    </form>

    {% else %}

    <form action="{% url 'message_like' message.id %}" method="post">{% csrf_token %}
    <button type="submit" class="btn btn-default">Like</button>
    </form>

    {% endif %}

    {% endif %}

    <button class="btn btn-info" onclick="facebookShare()">Facebook Share</button>

    <a class="twitter-share-button" href="https://twitter.com/share" data-text="Check out this hot new track {{ message.creator }} posted on Sharebear!" data-count="none" data-url="http://localhost:8000/message/{{ message.id }}">Tweet</a>

    <script>
        function facebookShare(){
            FB.ui({
              method: 'share',
                href: 'http://soundcloud.com/deezium',
                }, function(response){
                if (response && !response.error_code) {
                  alert('Posting completed.');
                } else {
                  alert('Error while posting.');
                }
            });
        }

        window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));

            
    </script>


    {% if user == message.creator %}

    <div class='row message-stats'>
        <div class='col-md-6'>
            <p>People reached: {{ view_count }}</p>
        </div>
        <div class='col-md-6'>
            <p>Props: {{ prop_count }}</p>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-12'>
            <form action="{% url 'messages_delete' message.id %}" method="post">{% csrf_token %}
                <button type="submit" onclick="deleteConfirmation()" class="btn btn-default">Delete</button>
            </form>
        </div>
    </div>


    {% endif %}


{% endblock %}