{% extends 'base.html' %}
{% load bootstrap3 %}
{% load humanize %}

{% block content %}

<div class='row'>
	<div class='col-xs-12'>
		<div id='profile-pic-container' style='padding-top: 20px'>
			<img id='profile-pic' src="{{ profile_user.profile.profile_image_url }}" style='float: left;' height="100" width="100"/>
			<h2> {{ profile_user.username }}</h2>
			<p>{{ profile_user.profile.aboutme }}</p>
			<p>{{ profile_user.profile.location }}</p>
		</div>		
		<div id='profile-button'>	
			{% if profile_user == user %}
			<form action ='/edit/{{ profile_user.username }}'>
				<input id='edit-button' type='submit' class='btn btn-default' value='Edit'>
			</form>
			{% endif %}
			
			{% if profile_user != user %}
			
				{% if following %}

			    <form action="{% url 'user_follow' profile_user.profile.id %}" method="post" class='follow-form'>{% csrf_token %}
			        <button type="submit" id="fbutton" class="btn follow-button">Unfollow</button>
			    </form>
			    
			    {% else %}

	            <form action="{% url 'user_follow' profile_user.profile.id %}" method="post" class='follow-form'>{% csrf_token %}
	                <button type="submit" id="fbutton" class="btn btn-default follow-button">Follow</button>
	            </form>

			    {% endif %}

			{% endif %}
		</div>
	</div>
</div>
<div class='row profile-pill-row'>
	<ul class='nav nav-pills'>
		<li role='presentation'><a href='/users/{{ profile_user.username }}'>Posted Tracks</a></li>
		<li role='presentation'><a href='/likes/{{ profile_user.username }}'>Likes</a></li>
	</ul>
</div>

{% for message, like_status, ever_like_status, youtube_id, soundcloud_info, view_count, prop_count in share_message_list %}
<div class='row message-header'>
	<div class='col-xs-8'>
		<div id='feed-profile'>
			<span><a href="/users/{{ message.creator }}"><img src="{{ message.creator.profile.profile_image_url }}" width="30" height="30" /></a></span> 
			<span id='feed-username'><a href="/users/{{ message.creator }}">{{ message.creator }}</a></span>
		</div>
	</div>
	<div class='col-xs-4'>
		<div id='feed-timestamp'>
			<time>{{ message.creation_time|date:_("DATETIME_FORMAT") }}</time> 
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-xs-12'>
		 <div>
	    	<a href="/message/{{ message.id }}">View</a>
	    </div>
    </div>
</div>
    	
<div class='row'>
	<div class='col-xs-12'>
		<div id='feed-body'>
			{{ message.body|urlize }}
		</div>
	</div>
</div>
	
<div class='row'>
	<div class='col-xs-12'>
		{% if youtube_id %}
	    	 <iframe m="{{ message.id }}" class="center-block iframeplayer" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/{{ youtube_id }}" frameborder="0"/></iframe>
	    {% endif %}
	    
        {% if soundcloud_info %}

   	    {% autoescape off %}

	    {{ soundcloud_info }}

	    {% endautoescape %}

	    {% endif %}
    </div>
</div>

<div class='row' id='likeSpreadDiv_{{message.id}}' style='display:none; padding-bottom:20px;'>
    <div class='col-xs-12' style='text-align:center;'>
        Thanks for liking {{ message.creator }}'s shared track!  You've spread this track to five new listeners!
    </div>
</div>

<div class='row engagement-buttons'>
	<div class='col-xs-3 col-xs-offset-9'>

        <div class="col-xs-4">
            <button class="btn facebook-button" onclick="facebookShare()"></button>
        </div>

        <div class="col-xs-4">
            <a class="btn twitter-button" href="https://twitter.com/intent/tweet?text=Check out this hot new track {{ message.creator }} posted on Wavelength! http://www.trywavelength.com/message/{{ message.id }}"></a>
        </div>

	{% if like_form and user != message.creator %}
		<div class='col-xs-4'>
			{% if like_status %}

			<form action="{% url 'message_like' message.id %}" method="post" class='like-form' id='feed_message_{{message.id}}' m="{{ message.id }}">{% csrf_token %}
			<button type="submit" id="lbutton_{{message.id}}" class="btn like-button"><span class="glyphicon glyphicon-heart" aria-hidden="true"></button>
			</form>

			{% else %}

			<form action="{% url 'message_like' message.id %}" method="post" class='like-form' id='feed_message_{{message.id}}' m="{{ message.id }}">{% csrf_token %}
			<button type="submit" id="lbutton_{{message.id}}" class="btn btn-default like-button"><span class="glyphicon glyphicon-heart" aria-hidden="true"></button>
			</form>

			{% endif %}
		</div>

	{% endif %}


	</div>
</div>

{% if user == message.creator %}

<div class='row' id='message-stats'>
<div class='col-xs-6' style='border-right: 1px solid #ddd;'>
    <div class='stats-header'>
        <span id='message-glyphicon-user' class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <span class='stats-header-text'>Listeners Reached</span>
    </div>
    <div class='stats-number'>
    {{ view_count }}
    </div>
    {% for r in recipients %}
    <div class='message-user-list'>
        <a href="/users/{{ r.user }}">
        <img class='center-block' src="{{ r.user.profile.profile_image_url }}" width="40" height="40" />
        </a>
    </div>

    {% endfor %}
</div>
<div class='col-xs-6'>
    <div class='stats-header'>
        <span id='message-glyphicon-heart' class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        <span class='stats-header-text'>Likes</span>
    </div>
    <div class='stats-number'>
    {{ prop_count }}
    </div>
    {% for p in proppers %}
    <div class='message-user-list'>
        <a href="/users/{{ p.user }}">
        <img class='center-block' src="{{ p.user.profile.profile_image_url }}" width="40" height="40" />
        </a>
    </div>
    {% endfor %}
</div>
</div>
{% endif %}
<script>
	function facebookShare(){
		FB.ui({
		  method: 'share',
	  		href: 'http://www.trywavelength.com/',
			}, function(response){
		    if (response && !response.error_code) {
		      alert('Posting completed.');
		    } else {
		      alert('Error while posting.');
		    }
		});
	}

	window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));

</script>
<script>
    $('#feed_message_{{message.id}}').on('submit', function(event){
        event.preventDefault();
        var m_num = $(this).attr("m");
        //console.log(this);
        //console.log(m_num);
        console.log("form submitted!");
        like(m_num);
    });

  
</script>

{% if ever_like_status == False %}
<script>
    $('#lbutton_{{message.id}}').on('click', function(event) {
        console.log("likeSpreadDiv_{{message.id}}");
        document.getElementById("likeSpreadDiv_{{message.id}}").style.display="block";
    });
</script>
{% endif %}

{% endfor %}


	</div>
</div>

<script>
	$('.follow-form').on('submit', function(event){
		event.preventDefault();
		console.log("form submitted!")
		follow();
	});


	function follow() {
		$.ajax({
			url : '/follow/{{ profile_user.profile.id }}',
			type : "POST",
			data : { identifier : '{{ profile_user.profile.id }}' },

			success : function(json) {
				console.log(json);
				$("#fbutton").html(json.next_action);
				$("#fbutton").toggleClass('btn-default', 'btn')
				console.log("success");
			},
			error : function(xhr,errmsg,err) {
				console.log(xhr.status + ": " + xhr.responseText);
			}
		});
		console.log("create post works!")
	};

</script>

<script>

	var playFlags = {};
	var all_iframes = document.getElementsByClassName('iframeplayer');

	for (var i=0, max=all_iframes.length; i<max; i++) {
		k = all_iframes[i].getAttribute('m');
		console.log(k);
		playFlags['playFlag_'+k] = false;
	}

    focus();

    var iframeListener = addEventListener('blur', function() {
        if(document.activeElement = document.getElementsByClassName('iframeplayer'))
        {
            var m_num = document.activeElement.getAttribute('m');
            trackIFrameClick(m_num);
        }
        removeEventListener(iframeListener);
    });

    function trackIFrameClick(m_num) {
    	if (!playFlags['playFlag_'+m_num]){
        $.ajax({
            url : '/play/' + m_num + '/',
            type : "POST",
            data : { identifier : m_num, platform : 'iframe' },
        
            success : function(json) {
                console.log(json);
                console.log("success");
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
        console.log('iframe play');
        playFlags['playFlag_'+m_num] = true;
    }
    };

</script>

<script>
		function like(m_num) {
        $.ajax({
            url : '/like/' + m_num + '/',
            type : "POST",
            data : { identifier : m_num },

            success : function(json) {
                console.log(json);
                $("#lbutton_"+m_num).toggleClass('btn-default', 'btn');
                console.log("success");
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
        //console.log("like works!")
    };
</script>

<script src="/static/scripts/main.js"></script>

{% endblock %}
