{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}

<div class='row'>
	<div class='col-xs-6'>
		<div id='profile-pic-container' style='padding-top: 20px'>
			<img id='profile-pic' src="{{ profile_user.profile.profile_image_url }}" style='float: left;' height="100" width="100"/>
			<h2> {{ profile_user.username }}</h2>
		</div>	
	</div>
	<div class='col-xs-6' style='display:inline; height:190px;'>
		<div class='row '>
			<div class='col-xs-4'>
				<div class='user-share-stats'>
				    <span class="glyphicon glyphicon-user medium-stats-glyphicon" aria-hidden="true"></span>
					<p> {{ profile_user.profile.get_reach }}</p>
				</div>
			</div>
			<div class='col-xs-4'>
				<div class='user-share-stats'>
				    <span class="glyphicon glyphicon-play medium-stats-glyphicon" aria-hidden="true"></span>
						<p> {{ profile_user.profile.get_plays }}</p>
				</div>
			</div>
			<div class='col-xs-4'>
				<div class='user-share-stats'>
				    <span class="glyphicon glyphicon-heart medium-stats-glyphicon" aria-hidden="true"></span>
						<p> {{ profile_user.profile.get_likes }}</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% for message, like_status, ever_like_status, youtube_id, soundcloud_info, view_count, play_count, prop_count in share_message_list %}
<div class='row share-view-message'>
	<div class='col-xs-12'>
		<div class='row'>
			<div class='col-xs-10'>
				<div id='share-body'>
					<a href='/message/{{ message.id }}'>{{ message.body|truncatechars:140 }}</a>
				</div>	
			</div>
			<div class='col-xs-2'>
				<div id='feed-timestamp'>
					<time>{{ message.creation_time|date:_("DATETIME_FORMAT") }}</time> 
				</div>
			</div>
		</div>
		<div class='row' style='padding-top: 10px;'>
		    <div class='col-md-12' style='text-align: center;'>
		    	<div class='row'>
		    	<div class='col-xs-4 row-share-stats'>
			    <span class="glyphicon glyphicon-user medium-stats-glyphicon" aria-hidden="true"></span>
			    {{ view_count }}
			    </div>
			    <div class='col-xs-4 row-share-stats'>
			    <span class="glyphicon glyphicon-play medium-stats-glyphicon" aria-hidden="true"></span>
			    {{ play_count }}
			    </div>
			    <div class='col-xs-4 row-share-stats'>
		    	<span class="glyphicon glyphicon-heart medium-stats-glyphicon" aria-hidden="true"></span>
			    {{ prop_count }}
			    </div>
			    </div>
		    </div>
		</div>
	</div>
</div>
  

{% endfor %}


{% endblock %}