{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

    <div class="row subject">
        <div class="col-md-12">
        <h2>{{ message.subject }}</h2>
        </div>
    </div>
    <div class="row sender-info">
        <div class="col-md-8">
            <a href="/users/{{ message.sender }}"><img src="{{ message.sender.profile.profile_image_url }}" width="50" height="50" /></a>
            <a href="/users/{{ message.sender }}">{{ message.sender }}</a>
        </div>
        <div class="col-md-4">
            <p><em>Sent at {{ message.sent_at|date:_("DATETIME_FORMAT")}}</em></p>
        </div>
    </div>
    <div class='row message-body'>
        <div class='col-md-12'>
            <p>{{ message.body|urlize }}</p>
            <a href="{% url 'messages_delete' message.id %}">Delete</a>
        </div>
    </div>

{% if message.is_liked %}
<p>Liked!</p>
{% endif %}

{% if like_form %}

<form action="{% url 'messages_like' message.id %}" method="post">{% csrf_token %}
<button type="submit" class="btn btn-default">Like or Unlike</button>
</form>

<p>Liking this message will pass it on to four other people!</p>

{% endif %}

{% endblock %}
