.subject{
	border-bottom: 1px solid #eee;
}

.sender-info{
	padding-top: 10px;
	padding-bottom: 30px;
}

.message-body {
	/* border-bottom: 1px solid #ddd; */
	padding-bottom: 30px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

#login-form{
	float: left;
}

#facebook-login{
}

tr.info{
	background-color: red;
}

td{
}

ol{
	list-style:none;
}

a{
	color: rgb(53,20,86);
}

a:hover{
	color: rgb(31,4,57);
}

body {
	font-family: 'Ek Mukta', helvetica, sans-serif;
	/*background-color: rgba(145,119,172,0.2);*/
	background-color: rgba(0,0,0,0.1);
	/*background-color: #8FCBD9;*/
}

#intro-text{
	font-size: 4em;
}


.container .jumbotron{
	border-radius: 0px;
	border: 1px solid #ddd;
}

#navbar-avatar{
	border-radius: 4px;
	height: 39px;
	width: 39px;
}

#main-content{
	padding-bottom: 15px;
	margin-bottom: 70px;
	background-color: #fff;
	border-radius: 0px;
	border: 1px solid #ddd;
}

#sidebar{
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #fff;
	border-radius: 0px;
	border: 1px solid #ddd;
	font-size: 1.1em;
}

#sidebar-stats{
	padding-top: 20px;
	border-top: 1px solid #ddd;
}

#button-container{
	border-bottom: 1px solid #ddd;
}

#random-container{
	border-top: 1px solid gray;
}

#compose-button{
	margin-bottom:10px;
	text-align: center;
	height: 39px;
	width: 46px;
	background-color: white;
	border-color: rgb(53,20,86);
}

#compose-button:hover{
	background-color: #eee;
}

#compose-pencil{
	color: rgb(31,4,57);
}

.compose-button{
	margin-top: 15px;
}

#random-button{
	margin-top:10px;
	margin-bottom:20px;
	text-align: center;
}

.nav-pills>li>a{
	text-align: center;
}

.nav-pills>li>a:hover{
	border-radius: 0px;
	background-color: #eee;
}

#pill-row{
	margin-top: 0px;
	padding-bottom: 10px;
}

.profile-pill-row{
	margin-top: 20px;
}

#message-subject{
	float:left;
}

#message-delete{
	float:right;
}

.message-header{
	 padding-top: 10px; 
	 border-top: 1px solid #ddd;
}

.meta-recipient{
	text-align: center;
}

.profile-section{
	padding-bottom: 10px;
}

.jumbotron{
	background-color: white;
	text-align: center;
}

.btn-default{
	background-color:rgb(79,44,115);
	color:white;
	border-color:rgb(53,20,86);
}

.btn-default:hover {
	background-color: rgb(53,20,86);
	border-color: rgb(31,4,57);
	color: white;
}

#message-stats {
	border-top: 1px solid #eee;
	padding-top: 20px;
	padding-bottom: 20px;
}

.engagement-buttons {
	padding-bottom: 20px;
}

#delete-button-row {
	padding-top: 20px;
	border-top: 1px solid #eee;
}

#message-glyphicon-user{
	font-size: 50px;
}

#message-glyphicon-heart{
	font-size: 50px;
}

.glyphicon-pencil{
	font-size: 20px;
}

.stats-header {
	text-align: center;
}

.stats-header-text {
	font-size: 30px;
}

.stats-number {
	text-align: center;
	font-size: 50px;
}

.stats-user-list {
	text-align: center;
	height: 40px;
}

.navbar-inverse{
	background-color: rgba(28,25,25,1);
}

.navbar-default {
	border-radius: 0;
}

.form-control{
	/*border-radius: 0px;*/
}

.conversation{
	padding-left: 0px;
}

.conversation li {
	display: flex;
	padding: 0.5rem;
	overflow: hidden;
	
}

.avatar {
	width: 40px;
	position: relative;
}

.avatar img {
	width: 100%;
	display: block;
}

.message {
	padding: 10px;
	border-radius: 0px;
	box-shadow: 0 1px 2px rgba(black, 0.2);
}

.message time {
	font-size: 0.8em;
	color: #4A4A4A;
}

.self {
	justify-content: flex-end;
	align-items: flex-end;
}

.self .message {
	background-color:rgb(206,134,133);
}

.other .message {
	background-color: #ddd;
}

.other .avatar::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border: 5px solid #ddd;
	border-left-color: transparent;
	border-bottom-color: transparent;
}

.self .avatar::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 5px solid;
	border-left-color: rgb(206,134,133);
	border-bottom-color: rgb(206,134,133);
	border-right-color: transparent;
	border-top-color: transparent;
}

.feed-message {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid 1px #aaa;
}

.feed-list {
	padding-left: 0px;
}

#feed-profile {
	padding-bottom: 10px;
}

#ytplayer{
	padding-bottom: 20px;
}


.message-user-list{
	float: left;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#left{float:left;width:50px;}
#right{float:right;width:50px;}
#center{margin:0 auto;width:50px;}

#feed-body {
	font-size: 1.1em;
	padding-top: 10px;
	padding-bottom: 20px;
}

#feed-body>a{
	font-size: 1em;
}

.like-button{
	height: 40px;
	width: 40px;
}

.facebook-button{
	height: 40px;
	width: 40px;
	background: url('/media/fblogo_40.png') no-repeat scroll center;
}


.twitter-button{
	border: 1px solid #55acee;
	height: 40px;
	width: 40px;
	background: url('/media/twitterlogo_32x26.png') no-repeat scroll center;
}
#feed-timestamp {
	padding-top: 10px;
	font-size: 0.8em;
	color: #aaa;
	text-align: right;
}

#feed-username a {
	font-weight: bold;
	text-decoration: none;
}

.promoter-score {
	color: black;
}

.profile-message {
	position: relative;
}

.profile-message a {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-decoration: none;
	z-index: 10;
}

#profile-pic{
	float: left;
	height: 150px;
	width: 150px;
	margin-right: 10px;
	margin-bottom: 20px;
}

#profile-button{
	clear: both;
}

#edit-button{
	width: 150px;
}

.follow-button{
	width: 150px;
}

nav.navbar.navbar-default{
	background-color: rgba(53,20,86,1);
	border-color: rgba(31,4,57,1);
	border-bottom: 1px solid black;
	/*height: 46px;*/
}

#site-name{
	font-family: 'Quicksand', helvetica, sans-serif;
	color: white;
}

#footer-nav{
	height: 30px;
}

#contact-url{
	color: white;
}

#contact-url:hover{
	color: #eee;
}

/*
.navbar {
	background-color: #2E608C;
}
*/