.subject{
	border-bottom: 1px solid #ddd;
}

.sender-info{
	padding-top: 10px;
	padding-bottom: 30px;
}

.message-body {
	border-bottom: 1px solid #ddd;
	padding-bottom: 30px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

#login-form{
	float: left;
}

#facebook-login{
}

tr.info{
	background-color: red;
}

td{
}

ol{
	list-style:none;
}

a{
	color: rgb(191,0,0);
}

body {
	font-family: 'Quicksand', sans-serif;
	background-color: rgba(36,32,31,1);
	/*background-color: #8FCBD9;*/
}

#main-content{
	/*border: 1px solid gray;*/
	padding-bottom: 15px;
	background-color: #fff;
}

#sidebar{
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #fff;
}

#button-container{
	border-bottom: 1px solid #ddd;
}

#random-container{
	border-top: 1px solid gray;
}

#compose-button{
	margin-bottom:10px;
	text-align: center;
}

#random-button{
	margin-top:10px;
	margin-bottom:20px;
	text-align: center;
}

.nav-pills>li>a{
	text-align: center;
}

#pill-row{
	margin-top: 20px;
}

#message-subject{
	float:left;
}

#message-delete{
	float:right;
}

.meta-recipient{
	text-align: center;
}

#profile-edit{
	border-top: 1px solid #ddd;
	padding-bottom: 10px;
}

.jumbotron{
	background-color: white;
	text-align: center;
}

.btn-default{
	background-color:rgb(191,0,0);
	color:white;
	border-color:rgb(127,0,0);
}

.btn-default:hover {
	background-color: rgb(127,0,0);
	border-color: rgb(127,0,0);
	color: white;
}

.navbar-inverse{
	background-color: rgba(28,25,25,1);
}

.form-control{
	/*border-radius: 0px;*/
}

.conversation{
	padding-left: 0px;
}

.conversation li {
	display: flex;
	padding: 0.5rem;
	overflow: hidden;
	
}

.avatar {
	width: 40px;
	position: relative;
}

.avatar img {
	width: 100%;
	display: block;
}

.message {
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(black, 0.2);
}

.message time {
	font-size: 0.8em;
	color: #4A4A4A;
}

.self {
	justify-content: flex-end;
	align-items: flex-end;
}

.self .message {
	background-color:rgb(206,134,133);
}

.other .message {
	background-color: #ddd;
}

.other .avatar::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border: 5px solid #ddd;
	border-left-color: transparent;
	border-bottom-color: transparent;
}

.self .avatar::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 5px solid;
	border-left-color: rgb(206,134,133);
	border-bottom-color: rgb(206,134,133);
	border-right-color: transparent;
	border-top-color: transparent;
}

.feed-message {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid 1px #ddd;
}

.feed-list {
	padding-left: 0px;
}

#feed-profile {
	padding-bottom: 10px;
}

#feed-body {
	font-size: 1.24em;
}

#feed-timestamp {
	padding-top: 10px;
	font-size: 0.8em;
	color: #aaa;
}

#feed-username a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.promoter-score {
	color: white;
}

/*
.navbar {
	background-color: #2E608C;
}
*/